@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1ckznv');
  src:  url('../fonts/icomoon.eot?1ckznv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1ckznv') format('truetype'),
    url('../fonts/icomoon.woff?1ckznv') format('woff'),
    url('../fonts/icomoon.svg?1ckznv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attributes:before {
  content: "\e915";
  color: #fff;
}
.icon-export:before {
  content: "\e916";
  color: #fff;
}
.icon-sort:before {
  content: "\e909";
  color: #666;
}
.icon-exit:before {
  content: "\e90a";
}
.icon-next:before {
  content: "\e90b";
  color: #4d4d4d;
}
.icon-member:before {
  content: "\e90c";
  color: #fff;
}
.icon-messaging:before {
  content: "\e90d";
  color: #fff;
}
.icon-appearance:before {
  content: "\e90e";
  color: #fff;
}
.icon-blocked:before {
  content: "\e90f";
  color: #fff;
}
.icon-upgrade:before {
  content: "\e910";
  color: #fff;
}
.icon-billing:before {
  content: "\e911";
  color: #fff;
}
.icon-remove:before {
  content: "\e912";
  color: #fff;
}
.icon-refresh:before {
  content: "\e913";
  color: #fff;
}
.icon-remove-2:before {
  content: "\e912";
  color: #CACACA;
}
.icon-refresh-2:before {
  content: "\e913";
  color: #CACACA;
}
.icon-general:before {
  content: "\e914";
  color: #fff;
}
.icon-attachment:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-emoji:before {
  content: "\e903";
}
.icon-picture:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-setting:before {
  content: "\e906";
}
.icon-switch:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
