@import url('./common.css');
@import url('./font-icomoon.css');
@import url('./nav.css');

a {
    text-decoration: none;
}

.header-btn--export,
.header-btn--attributes {
    background-color: var(--color-cyan);
    color: var(--color-white);
    border: unset;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}


.header-btn--export {
    width: 96px;
    margin-left: 30px;
}

.header-btn--attributes {
    width: 106px;
}

.icon-attributes::before,
.icon-export::before {
    margin-right: 16px;
}

.header-btn--export:hover,
.header-btn--attributes:hover {
    background-color: var(--color-white);
    color: var(--color-cyan);
    border: var(--color-cyan) solid 1px;
}

.header-btn--export:hover .icon-export::before,
.header-btn--attributes:hover .icon-attributes::before {
    color: var(--color-cyan);
}


.border-left-box {
    margin-bottom: 0px;
}

.border-left__title {
    text-transform: unset;
}

.tab__label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab__label:hover {
    background: var(--color-white) !important;
}

.text-box[type="email"] {
    margin-top: 13px;
}

.text-box[type="email"]::placeholder {
    color: #CACACA;
}

.text-box__label {
    margin-top: 10px;
    margin-bottom: 4px;
    color: #CACACA;
    font-size: 9px;
}

