* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #666666;
    font-size: 11px;
    box-sizing: border-box;
}

body {
    background: #F1F1F2;
}

.bold {
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.center-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BUTTON*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
    box-shadow: unset;
    border: unset;
    font-size: 11px;
    cursor: pointer;
    /* box-sizing: content-box;
    padding: 10px; */
}

.btn--small {
    width: 68px;
    height: 30px;
}

.btn--large {
    width: 100%;
    height: 35px;
}

.btn--medium {
    width: 150px;
    height: 30px;
}

.btn--white {
    background: #F1F1F2;
    color: #B1B1B1;
}

/*COLORS*/
.bgr-pink,
.btn--pink {
    background: #ED86BE;
}

.bgr-yellow,
.btn--yellow {
    background: #FFCD55;
}

.bgr-blue,
.btn--blue {
    background: #4FBFE7;
}

.bgr-red,
.btn--red {
    background: #F26C6C;
}

.bgr-orange,
.btn--orange {
    background: #F9704F;
}

.bgr-cyan,
.btn--cyan {
    background: #01CEBB;
}

.bgr-green,
.btn--green {
    background: #9FD16A;
}

.border-left-box {
    border-left: 5px solid transparent;
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-bottom: 20px;
}
.border-left__title
{
    text-transform:uppercase;
    font-size: 11px;
    margin-left: 12px;
}

.border--yellow {
    border-color: #FFCD55;
}

.border--pink {
    border-color: #ED86BE;
}

.border--blue {
    border-color: #4FBFE7;
}

.border--red {
    border-color: #F26C6C;
}

.border--orange {
    border-color: #F9704F;
}

.border--cyan {
    border-color: #01CEBB;
}

.border--green {
    border-color: #9FD16A;
}

.color--yellow
{
    color:  #FFCD55;
}

.color--green
{
    color: #9FD16A;
}

.color--blue
{
    color: #4FBFE7;
}
.color--pink
{
    color: #ED86BE;
}
.color--white
{
    color: white;
}
/*AVATAR*/
.avatar {
    display: block;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.avatar--large {
    width: 2vw;
    height: 2vw;
    min-width: 40px;
    min-height: 40px;
    font-size: 18px;
    border-radius: unset;
}

.avatar--medium {
    width: 24px;
    height: 24px;
    font-size: 14px;
}


.icon-wrap {
    min-width: 30px;
    min-height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
    font-size: 16px;
}


.avatar--small {
    width: 16px;
    height: 16px;
    font-size: 10px;
}

/*BOX*/
.text-box {
    width: 100%;
    padding: 8px 0 8px 14px;
    color: #979797;
    border: unset;
    border-radius: 5px;
    background: #F7F7F7;
}

.text-box--white {
    resize: none;
    width: 100%;
    max-height: 60px;
    padding: 8px 0 8px 14px;
    border: unset;
    border: #F0F0F0 solid 1px;
    border-radius: 3px;
}

.border-box {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background: white;
}

/*OTHERS*/
.inner-addon {
    position: relative;
}

.inner-addon img {
    position: absolute;
    margin: 6px 15px;
    pointer-events: none;

}

.left-addon img {
    left: 0;
}

.right-addon img {
    right: 0;
}

.noti__label {
    text-decoration: none;


}

.noti {
    min-width: 12px;
    min-height: 10px;
    color: white;
    font-size: 8px;
    border-radius: 20px;
    padding: 2px 4px;
    margin-left: 8px;
}

/*BLOCKS*/
.inner-block {
    max-width: 100%;
    max-height: 87.6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 23px;
}

.inner-block>*
{
    margin-right: 23px;
}
.block--medium {
    width: 30%;
    /* flex:3; */

}

.block--large {
    width: 45%;
    /* background: #9FD16A; */
    /* flex:4.5; */
}

.block--extra-large {
    width: 75%;
    /* background: #01CEBB; */
}

.block--small {
    width: 25%;
    /* background: #ED86BE; */
    /* flex:2.5; */

}

.inner-block>* {
    /* max-height: inherit; */
    /* margin: 1vw; */
    max-height: 600px;
    overflow-y: auto;
}

.line {
    
    height: 0.8px;
    margin: 0.5px 0;
    background: #F0F0F0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;
}

.inline-p {
    display: inline;
    margin-right: 20px;
}

.tab__label {
    padding: 11px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-wrap
{
    display: flex;
    align-items: center;
}
.check-box
{
    background: hotpink;
}