@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');

:root {  
    --color-yellow: #FFCD55;
    --color-pink: #ED86BE;
    --color-blue: #4FBFE7;
    --color-red: #F26C6C;
    --color-orange: #F9704F;
    --color-cyan: #01CEBB;
    --color-green: #9FD16A;
    --color-gray: #B1B1B1;
    --color-gray-light: #F7F7F7;
    --color-white: #FFFFFF;
    --color-text-normal:#666666;

    --fs-very-tiny: 8px;
    --fs-tiny: 9px;
    --fs-x-tiny: 10px;
    --fs-small: 11px;
    --fs-regular: 12px;
    --fs-large: 14px;
    --fs-x-large: 16px;
    --fs-xx-large: 23px;
    --fs-xxx-large: 30px;
    --fs-4xl-large: 40px;
  }
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    color: var(--color-text-normal);
    font-size: var(--fs-regular);
    box-sizing: border-box;
    transition: width 0.5s, height 0.5s, padding 0.5s, margin 0.5s;
}
/* CSS Reset */
button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
}
a {
    text-decoration: none;
}
body {
    background: #F1F1F2;
}
li {
    list-style: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.center-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Margin */
.header-right {
    margin-right: 20px;
    cursor: pointer;
}
#sign-out { 
    margin-left: 12px;
    user-select: none;
}
/*BUTTON*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
    box-shadow: unset;
    border: unset;
    font-size: 11px;
    cursor: pointer;

    /* box-sizing: content-box;
    padding: 10px; */
}

.btn:hover {
    background-blend-mode: soft-light;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) !important;
}

.btn--small {
    width: 68px;
    height: 32px;
}

.btn--large {
    width: 100%;
    height: 35px;
}

.btn--medium {
    width: 150px;
    height: 32px;
}

.btn--medium-2 {
    width: 100px;
    height: 32px;
}

.btn--white,
.color--gray {
    background: #F1F1F2;
    color: var(--color-gray);
}

/*COLORS*/
.bgr-pink,
.btn--pink {
    background: var(--color-pink) !important;
}

.bgr-yellow,
.btn--yellow {
    background: var(--color-yellow) !important;
}

.bgr-blue,
.btn--blue {
    background: var(--color-blue) !important;
}

.bgr-red,
.btn--red {
    background-color: var(--color-red) !important;
}

.bgr-orange,
.btn--orange {
    background: var(--color-orange) !important;
}

.bgr-cyan,
.btn--cyan {
    background: var(--color-cyan) !important;
}

.bgr-green,
.btn--green {
    background: var(--color-green) !important;
}

.bgr-grey {
    background: #F7F7F7 !important;
}

.bgr-dark-gray {
    background: #D3D3D3 !important;
}

.border-left-box {
    border-left: 5px solid transparent;
    display: flex;
    align-items: center;
    min-height: 20px;
}

.border-left__title {
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 12px;
}

.border--yellow {
    border-color: var(--color-yellow) !important;
}

.border--pink {
    border-color: var(--color-pink) !important;
}

.border--blue {
    border-color: var(--color-blue) !important;
}

.border--red {
    border-color: var(--color-red) !important;
}

.border--orange {
    border-color: var(--color-orange) !important;
}

.border--cyan {
    border-color: var(--color-cyan) !important;
}

.border--green {
    border-color: var(--color-green) !important;
}

.color--yellow {
    color: var(--color-yellow) !important;
}

.color--green {
    color: var(--color-green) !important;
}

.color--cyan {
    color: var(--color-cyan) !important;
}
.color--blue {
    color: var(--color-blue) !important;
}

.color--pink {
    color: var(--color-pink) !important;
}

.color--white {
    color: white;
}

/*AVATAR*/
.avatar {
    display: block;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}


.avatar--extra-large {
    width: 147px;
    height: 147px;
    margin: 0 auto;
    margin-bottom: 17px;
}

.avatar--large {
    width: 2vw;
    height: 2vw;
    min-width: 40px;
    min-height: 40px;
    font-size: 18px;
    border-radius: unset;
}

.avatar--medium {
    width: 24px;
    height: 24px;
    font-size: 14px;
    position: relative;
}

.tooltip {
   
    visibility: hidden;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 35px;
    left: -45px;
    z-index: 2;
}

.tooltip:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333333;
    position: absolute;
    z-index: 1;
    top: 23px;
    left: 52px;
}
.conversation-wrapper .tooltip:before, .client-page .tooltip:before{
    visibility: hidden;
}
.conversation-wrapper .tooltip, .client-page .tooltip
{
    bottom: 10px;
}
.conversation-wrapper .chat-line--receive .tooltip,
.client-page .chat-line--receive .tooltip
{
    left:0px;
}
.conversation-wrapper .chat-line--send .tooltip,
.client-page .chat-line--send .tooltip
{
    right:0px;
}
.avatar--medium:hover .tooltip {
    visibility: visible;
    transition: all 0.5s;
}

.icon {
    min-width: 30px;
    min-height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;

}


.avatar--small {
    width: 16px;
    height: 16px;
    font-size: 10px;
}

/*BOX*/
.text-box {
    width: 100%;
    padding: 8px 20px 8px 15px;
    color: #979797;
    border: unset;
    border-radius: 5px;
    background: #F7F7F7;
}

.text-box::placeholder,
.text-box--white::placeholder {
    color: #CACACA;
}

.text-box--white {
    resize: none;
    width: 100%;
    padding: 8px 0 8px 14px;
    border: unset;
    border: #F0F0F0 solid 1px;
    border-radius: 3px;
}

.border-box {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    background-color: var(--color-white);
}

.border-grey {
    border: #F7F7F7 solid 1px;
    border-radius: 5px;
}

/*OTHERS*/
.inner-addon {
    position: relative;
    width: 100%;
}

.inner-addon .left-addon, .inner-addon .right-addon {
    position: absolute;
    pointer-events: none;

}

.left-addon {
    left: 0;
}

.right-addon {
    right: 0;
}



/*BLOCKS*/
.inner-block {
    max-width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 23px;
}

.inner-block>* {
    margin-right: 23px;
}

.block--medium {
    width: 30%;
    height: auto;
}

.block--large {
    width: 45%;
    height: auto;
    /* background: var(--color-green); */
    /* flex:4.5; */
}

.block--extra-large {
    width: 75%;
    height: auto;
    /* background: var(--color-cyan); */
}

.block--small {
    width: 25%;
    height: auto;
    /* background: var(--color-pink); */
    /* flex:2.5; */

}

.inner-block>* {
    /* max-height: inherit; */
    /* margin: 1vw; */
    /* max-height: 600px; */
    overflow-y: auto;
}

.dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.inline-p {
    display: inline;
    margin-right: 20px;
}

.tab__label {
    padding: 11px 10px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-wrap {
    display: flex;
    align-items: center;
}

.check-box {
    background: hotpink;
}

.border-bottom {
    border-bottom: 1px solid #F0F0F0;
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.form-group input {
    margin-right: 15px;
    width: 50%;
    height: 100%;

}

.avatar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.avatar-row>.avatar {
    margin: 5px 8px 5px 0;
}
.table-wrap
{
  
}
.table {
    border: #F7F7F7 solid 1.5px;
    border-radius: 5px;
    overflow: auto;
}

.table header {
    font-weight: bold;
    margin-top: 10px 0;
    border-top: unset;
}

.table__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: #F7F7F7 1.5px solid;
    height: 40px;
    align-items: center;
    padding: 0 20px;
}

.table__row:not(header) p {
    color: #979797;
}

.col-3 {
    flex: 1 1 30%;
    min-width: 200px;

}

.col-4 {
    flex: 1 1 40%;
    min-width: 300px;
}

.col-2 {
    flex: 1 1 20%;
    min-width: 100px;
}

.col-1 {
    flex: 1 1 10%;
    min-width: 100px;
}

@media(max-width:411px) {
    .inner-block {
        padding: 0px;
    }
    .inner-block {
        max-width: 100%;
        height: 85vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px;
    }
    
    .inner-block > * {
        margin-right: 0px;
    }
    
    .block--medium {
        width: 100%;
        height: auto;
    
    }
    
    .block--large {
        width: 100%;
        height: auto;
        /* background: var(--color-green); */
        /* flex:4.5; */
    }
    
    .block--extra-large {
        width: 100%;
        height: auto;
        /* background: var(--color-cyan); */
    }
    
    .block--small {
        width: 100%;
        height: auto;
        /* background: var(--color-pink); */
        /* flex:2.5; */
    
    }
}

/* LOGIN */
.login-page
{
    padding: 0 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/SVG/client-bgr.jpg');
    background-size: contain;

}
.login-form
{
    min-width: 250px;
    max-width: 400px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding:  30px 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
    overflow: hidden;
}

.login-form .btn
{
  
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
}
.login-form .btn--large
{
    margin-top: 25px;
}
.login-form .logo 
{
    user-select: none;
    max-width: 45px;
    margin-bottom: 25px;
}
.login__link
{
    color: #979797;
    height: inherit;
    display: block;
}
.login__link:hover
{
    color: var(--color-text-normal)
}
.login-form form>*:not(a)
{
    min-height: 40px !important;
}
.login-form form>input
{
    margin-bottom: 15px;
}
.login-form select
{
    appearance: none;
    display: block;
    outline: none;
    width: 100%;
    padding: 10px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 10px;
}
.login-form select::selection:hover
{

    background-color: wheat;
}
.login-form select option
{
    display: block;
    color: white;
    font-size: 18px;
    border: unset !important;
    outline: none;

}
#sel option:hover
{
    background-color: transparent !important;
    color: #01CEBB;
}
.login--option
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login--option .btn
{
    font-size: 10px;
    letter-spacing: inherit;
}

.client-page
{
    position: relative;
    height: 100vh;
    background: url('../img/SVG/client-bgr.jpg');
    background-size: contain;

}
.client-page>header
{
    min-height: 75px;
    background: white;
    display: flex;
    align-items: center;
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.client-page>header>img
{
    user-select: all;
    max-width: 45px;
  
    margin: 10px 20px;
}
.client-chat-btn>img
{
    display: block;
    user-select: all;
    width: 40px;
    height: 40px;
    user-select: none;
}
.client-chat-btn
{
    margin: 30px ;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    right: 0;
}
.client-chat-btn:hover
{
    transform: scale(1.1);
}

.client-signup, .client-chatbox
{
    position: absolute;
    bottom: 80px;
    right:0;
    margin: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
}
.client-signup__header
{
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-signup__header p{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.minimal-line
{
    cursor: pointer;
    content: "";
    width:20px;
    height: 3px;
    background-color: white;

}
.client-signup>form,.client-signup__header
{
    padding: 20px;
}
.client-chatbox
{
    min-width: 250px;
    max-width: 400px;
    min-height: 500px;
    width: 300px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
    overflow: auto;
}


/*********************/
/* Style chatbox of Conversation*/
.client-chatbox__container {
    display: grid;
    height: auto;
    grid-template-rows: 80% 20%;

}

.client-chatbox__container .chatbox__content {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end; */
    min-height: 250px;
    max-height: 250px;
    width: inherit;
    padding: 10px;
    background: #F7F7F7;
    height: auto;
    overflow: auto;

}
.client-chatbox__container .chat__option
{
   padding: 10px 20px;
}

