@import url('./font-icomoon.css');
@import url('./common.css');
@import url('./nav.css');
@import url('./style-conversation.css');


:root {
    --padding-and-gap: 20px;
    --main-height: calc(100vh - 50px);
    --full-width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set layout website */
.grid-container {
    display: grid;
    grid-template-columns: minmax(75px, 5vmax) 95vw;
    grid-template-rows: minmax(50px, 5vmax) minmax(auto, calc(100vh - 5vw));
    grid-template-areas:
        'menu header'
        'menu main';
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.header-container {
    grid-area: header;
    background-color: darkblue;
}

.menu-container {
    grid-area: menu;
    background-color: aqua;
}

/* Set layout Main Container */
.main-container {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: var(--padding-and-gap);
    padding: var(--padding-and-gap);
}

.inbox-container {
    grid-column: 1/4;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.chatbox-container {
    grid-column: 4/8;
    min-width: 250px;
}

.info-container {
    grid-column: 8/11;
}

/* Set layout Chart and chat room */
.noti-right-container {
    grid-column: 4/11;
    display: grid;
    height: 80vh;
    width: 100%;
    grid-gap: var(--padding-and-gap);
    padding-right: var(--padding-and-gap);
    grid-template-areas:
        'chart chart'
        'chatroom activities';
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% minmax(400px, 70%);

}

.chart-container {
    grid-area: chart;

}

.chatroom-container {
    grid-area: chatroom;
    padding-bottom: var(--padding-and-gap);
}

.activities-container {
    grid-area: activities;
}

/* Style header*/
.header-container {
    padding-left: var(--padding-and-gap);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
}

.header__heading {
    text-transform: uppercase;
    margin-right: auto;
}

.notification,
.search-bar {
    width: 50%;

}

.search-bar .icon-search {

    z-index: 10;
    margin: 8px;
}

.search-bar .noti__item {
    margin: 0 15px;
}

.noti__list,
.search-bar {

    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

}

.noti__item {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5px;
    margin-right: 3%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.noti__item .avatar {
    margin-right: 10px;
}

.noti__item:hover {
    background: #F1F1F2;
}

.noti__label {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.noti {
    min-width: 8px;
    text-align: center;
    box-sizing: content-box;
    color: white;
    font-size: 8px;
    border-radius: 30px;
    padding: 2px 5px;
    margin-left: 8px;
    user-select: none;
}

.hidden-md {
    display: none;
}

.search-bar {
    margin: 0 15px;
}

/* Style menu*/
.menu-burger {
    position: relative;
    width: 20px;
    height: 14px;
    display: none;
    margin-right: 10px;
}

.menu-line {
    background-color: dimgray;
    height: 1px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 {
    top: 0;
}

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-line-3 {
    bottom: 0;
    width: 80%;
}

.grid-container.open-menu #menu .menu-line-2 {
    opacity: 0;
}

.grid-container.open-menu #menu .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-45deg);
}

.grid-container.open-menu #menu .menu-line-3 {
    width: 100%;
    transform: translateY(-7px) translateY(50%) rotate(45deg);
}
/* *************************Conversation*************************** */
/* Style inbox of Conversation*/
.inbox {
    min-height: 100px;
}

.inbox .inbox__content {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style chatbox of Conversation*/
.chatbox {
    display: grid;
    height: 100%;
    max-height: 1200px;
    grid-template-rows: 5vh auto minmax(155px, 15%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
}

.chatbox.border-box {
    background: unset;
    border: unset;
    box-shadow: unset;
    height: auto;
}

.chatbox-header {
    display: flex;
    background-color: #fff;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chatbox-header__right {
    position: absolute;
    right: 5%;
    display: none;
}

.chatbox__content {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end; */
    width: inherit;
    padding: 10px;
    background: #F7F7F7;
    height: auto;
    overflow: auto;

}

.chatbox header p {
    margin: 20px auto 10px auto;
    text-align: center;

}

.chat-line__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-line {
    width: 80%;
    display: grid;
    margin: 5px 0;

}

.chat-line__content {
    padding: 12px 18px;
    margin: 0 5px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.chat-line--receive .chat-line__content {
    margin-left: 15px;
}

.chat-line--send .chat-line__content {
    margin-right: 15px;
}

.chat-line__content-wrap {
    position: relative;
}

.chat-line--receive .chat-line__content::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: 11px;
    border-top: 5px solid transparent;
    border-right: 5px solid white;
    border-bottom: 5px solid transparent;
    z-index: 1;

}

.chat-line--send .chat-line__content::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    right: 11px;
    border-top: 5px solid transparent;
    border-left: 5px solid white;
    border-bottom: 5px solid transparent;
    z-index: 1;
}

.chat-line--receive {
    grid-template-columns: 10% 90%;
    align-self: flex-start;

}

.chat-line--receive .avatar {
    justify-self: right;
}

.chat-line--send .inbox__time {
    text-align: right;
}

.chat-line--send {
    grid-template-columns: 90% 10%;
    align-self: flex-end;
}

.chat-line--send .avatar {
    justify-self: left;
}

.chat-line--send {
    display: grid;
    grid-template-columns: 90% 10%;

}

/* Chat input of Chatbox */
.chatbox__input {
    background-color: var(--color-white);
    height: 100%;
}

.chat__tab {
    border-bottom: #F0F0F0 1px solid;
}

.chat__tab ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 15px;
}

.chat__tab ul li {
    width: 60px;
    padding: 8px;
    text-align: center;
}

.active-tab {
    border-bottom: var(--color-cyan) 2px solid;
}

.chat__tab ul li a {

    font-size: 12px;
    color: var(--color-grey);
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.active-tab a {
    color: var(--color-cyan) !important;
    font-weight: bold;
}

.chat__text-box {
    outline: none;
    resize: none;
    width: 100%;
    max-height: 70px;
    padding: 20px;
    border: none;
}

.chat__text-box::placeholder {
    color: #B1B1B1;
}

.chat__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.chat__option ul {
    list-style: none;
}

/* Style info of Conversation*/
.info-container {
    position: relative;
    overflow-y: auto;
}

.info-header__right {
    position: absolute;
    top: 1.2%;
    right: 5%;
    display: none;
}

/* *************************App setting*************************** */
.tab-container {
    grid-column: 1/3;

}

.tab-detail-container {
    grid-column: 3/11;
    overflow: auto;
}

.tab__label:hover,
.active-tab-detail {
    background-color: #F7F7F7;
    cursor: pointer;
}

.tab__label p {
    margin-left: 5%;
}

.tab-container .tab__label {
    margin-bottom: 10px;
}

.tab-detail {
    padding: 0;
    background: white;
}

.tab-detail>section {
    padding: 20px 30px;
}

.checkbox-wrap {
    margin-bottom: 10px;
}

.check-box {
    margin-right: 15px;
    display: block;
    background: black;
}

.app-info__form-group {
    display: flex;
    justify-content: space-between;
}

.app-info__form {
    width: 49%;
}

/* form {
    margin-top: 10px;
} */

.app-info__form p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grey-p {
    color: #CACACA;
}

.tab-detail .btn {

    text-transform: uppercase;
    font-size: 11px;

}

.connect-status {
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
}

.border-left-box p {
    text-transform: uppercase;
}

.upgrade__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.upgrade__row {
    display: flex;
    align-content: stretch;

}

.upgrade__col {
    width: 24%;
    /* min-width: 95px; */
}

.upgrade__item {
    border-radius: 5px;
    box-sizing: content-box;
    padding: 11px 0;
    margin-bottom: 10px;
    text-align: center;
    border: solid 1px #F1F1F2;

}

.upgrade__item--large {
    height: 50%;
    min-height: 300px;
    padding-top: 25px;
}

.form-group {
    margin: 25px 0;
}

.team-box {
    padding: 15px;
    margin-bottom: 10px;

}

.team-box__header {
    color: #666666;
    margin-bottom: 10px;
    position: relative;
}

.team-box .icon-remove-2 {
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}

#team-member .table {
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    min-height: 16px;
    background: #F1F1F2;
    border-radius: 3px;
    position: relative;
    z-index: 0;
}

.progress-bar--active {
    content: "sasas";
    width: 80%;
    min-height: 16px;
    background: #02CEBB;
    border-radius: 3px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.sub-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

/* billing tab */
.invoice-table {}

.invoice-table header,
.invoice-table__row,
.invoice-detail header,
.invoice-detail__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 0 20px;
}

.invoice-table__row {
    border-radius: 5px;
    background: #F7F7F7;
    margin-bottom: 10px;
}

.invoice-table__row>*:not(header),
.invoice-detail>header *,
.period__sub,
.invoice-detail footer p {
    color: #979797;

}

.invoice-table__col {
    flex: 1 3;
}

.invoice-detail {
    border: #F7F7F7 solid 1.5px;
    border-radius: 5px;
    overflow: hidden;
}

.invoice-detail__row>*:not(header),
.invoice-total__price {
    font-weight: bold;
    font-size: 13px;
}

.period-detail,
.invoice footer {
    padding: 0 20px;
    margin: 10px 0;
}

.period__duration {
    font-weight: bold;
    color: var(--color-green);
}

.period__sub {
    margin-left: 15px;

}

.period-detail>div {
    margin-top: 10px;
    border-top: #F1F1F2 3px solid;
    border-bottom: #F1F1F2 3px solid;
    padding: 5px 0;
}

.period-detail__row:nth-of-type(1) * {
    font-weight: bold;
    color: #CACACA;

}

.period-detail__row {
    width: 100%;

    text-transform: uppercase;
    height: 30px;
    display: flex;
    align-items: center;
}

.period-detail__col {
    flex: 3 1;
}

.period-detail__col:nth-of-type(3) {
    flex: 2 1;
}

.invoice-detail footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.invoice-detail footer>* {
    margin-left: 30px;
}

.invoice-total__price {
    width: 25%;
    text-align: left;
}

.poppi-messenger-review {
    width: 100%;
    height: auto;
}

/* ************************* Notification *************************** */
.inbox--unread {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.inbox__noti {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 8px;
    margin-left: 14px;
}

.conversation__chart {
    background-color: var(--color-white);
    padding: 15px;
    height: 100%;
}

.conversation__chart header {
    display: flex;
}

.conversation__chart .tab {
    display: flex;
    margin-left: auto;
}

.conversation__chart .tab__link {
    color: #CACACA;
    border: unset;
    background-color: var(--color-white);
    padding: 3px 18px;
    margin-left: 12px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.conversation__chart .tab__link--active {
    background-color: var(--color-green);
    color: var(--color-white);
}

.conversation__chart .tab__content {
    margin-top: 28px;
    width: 100%;
    height: auto;
}

.chart__28days {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.chart__90days {
    transform: scaleY(-1);
}

.conversation__internal-room {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.conversation__internal-chat-room {
    height: 100%;
}

.conversation__internal-chat-room .chatbox {
    grid-template-rows:unset;
    background-color: #fff!important;
    max-height: var(--main-height);
}
.conversation__internal-chat-room .chatbox__content {
    height: 30vh;
    min-height: 250px;
}

.conversation__activities {
    height: 80%;
    overflow-y: auto;
}

.avatar-row {
    margin: 14px 0px 7px 13px;
}

/* Style Activities*/
.conversation__activities header p {
    margin: 20px auto 10px auto;
    text-align: center;
}

.conversation__activities a {
    text-decoration: none;
    color: var(--color-cyan);
}

.activities__date {
    margin: 0px 23px;
    margin-bottom: 15px;
}

.activities__timeline {
    margin: 12px 23px;
    position: relative;
}

.activities__timeline::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #979797;
    top: 0;
    left: 15px;
}

.activities__timeline li {
    margin-bottom: 35px;
    list-style: none;
    position: relative;
    padding-left: 66px;
}

.activities__timeline li::before {
    content: '';
    width: 30px;
    height: 30px;
    left: 0%;
    transform: translate(0, -20%);
    position: absolute;
    border-radius: 50%;

}

.activities--mentioned::before {
    background-color: var(--color-yellow);
}

.activities--assigned::before {
    background-color: var(--color-green);
}

.activities--closed::before {
    background-color: var(--color-orange);
}
@media (max-width:992px) {
    .grid-container {
        grid-template-columns: 100vw;
        grid-template-areas:
            'header'
            'main';
    }

    /* Menu Responsive*/
    .menu-container {
        display: none;
    }

    .menu-burger {
        display: block;
    }

    .open-menu {
        grid-template-columns: minmax(75px, 5vw) 95vw;
        grid-template-rows: minmax(50px, 5vw) minmax(auto, calc(100vh - 5vw));
        grid-template-areas:
            'menu header'
            'menu main';
        overflow: hidden;
    }

    .grid-container.open-menu .menu-container {
        display: block;
    }

    /* Chatbox Responsive*/
    .chatbox {
        height: 100%;
    }
}

@media (max-width:768px) {
    .main-container {
        height: 90vh;
        grid-gap: 0px;
        padding: 0px;
        position: relative;
    }

    /* Header Responsive*/
    .header-container {
        border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    }

    .noti__item.hidden-md {
        display: flex;
    }

    .noti__item .icon-bell {
        font-size: 20px;
    }

    .menu-container,
    .noti__item {
        display: none;
    }

    .search-bar .text-box {
        position: relative;
        z-index: 0;
        float: right;
        outline: none;
        border: unset;
        width: 30px;
        transition: all 1s ease-in-out, background 1.5s ease-in;
        color: transparent;
        background: transparent;
    }

    .search-bar .text-box:focus {
        width: 100%;
        border: yellowgreen 1px solid;
        background: #F7F7F7;
        color: #979797;
    }

    .menu-burger {
        display: block;
    }

    /* Resposive Inbox*/
    .inbox-container {
        grid-gap: 0px;
        grid-column: 1/3;
        grid-row: 1;
        height: var(--main-height);
    }

    .inbox-container .border-box {
        margin: 0;
        border: unset;
        border-radius: 0;
    }

    /* Resposive Inbox in Conversation*/
    .conversation-wrapper .inbox section {
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
    }

    .conversation-wrapper .inbox section:last-child,
    .conversation-wrapper .inbox .inbox__email {
        display: none;
    }

    .conversation-wrapper .inbox section .avatar--medium.avatar--responsive {
        width: 2vw;
        height: 2vw;
        min-width: 40px;
        min-height: 40px;
        font-size: 18px;
        align-self: center;
        justify-self: center;
    }

    .conversation-wrapper .inbox p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 60px;
        text-align: center;
        padding: 0;
    }

    /* Chatbox responsive*/
    .chatbox-container {
        grid-column: 3/11;
        height: 300px;
        grid-row: 1;
        height: var(--main-height);
    }

    .chatbox.border-box {
        background: unset;
        border-left: rgba(0, 0, 0, 0.1) solid 1px;
        box-shadow: unset !important;
        border-radius: 0 !important;
    }

    .chatbox-header__right,
    .info-header__right {
        display: block;
    }

    /* Toggle Open Responsive Info*/
    .info-container {
        display: none;
    }

    .open-info {
        display: block;
        grid-column: unset;
        height: var(--main-height);
        width: 80vw;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    /* Appsetting */
    /* Team memmber */
    .appsetting .col-3 {
        flex: 1 1 30%;
        min-width: 200px;
        word-break: break-all;
        text-overflow: ellipsis;
    }

    .appsetting .col-4 {
        flex: 1 1 40%;
        min-width: 200px;
        word-break: break-all;
        text-overflow: ellipsis;
    }

    .appsetting .col-2 {
        flex: 1 1 20%;
        min-width: 100px;
    }

    .appsetting .col-1 {
        flex: 1 1 10%;
        min-width: 80px;
    }

    /* Notification--right Responsive*/
    .main-container.noti-wrapper {
        padding: var(--padding-and-gap);
        grid-template-columns: 100%;
        grid-gap: var(--padding-and-gap);
    }

    .noti-wrapper .inbox-container {
        grid-column: unset;
        overflow: unset;
        height: auto;
    }

    .noti-right-container {
        padding: unset;
        grid-column: unset;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'chart'
            'activities'
            'chatroom';
    }

    .conversation__chart .tab {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

    /* **************App setting*************** */
    .main-container.appsetting {
        grid-template-rows: 20% 80%;
    }

    .tab-detail .btn--medium-2 {
        font-size: 9.5px !important;
    }

    .tab-container {
        grid-column: 1/11;
        grid-row: 1;
        overflow: auto;
        margin: 0;
        margin-bottom: 10px;
    }

    .tab-detail-container {
        grid-column: 1/11;
        grid-row: 2;
        overflow: auto;
        margin: unset;
    }

    .tab-detail>section {
        padding: 20px;
    }

    .upgrade__wrap * {
        font-size: 10px;
    }

    .upgrade__item {
        max-height: 100%;
    }

    /* Mess */
    .appsetting .form-group input {
        width: 100%;
    }

    /* ***************************** */




}