@import url('./font-icomoon.css');
@import url('./common.css');
@import url('./nav.css');
@import url('./style-conversation.css');


:root {
    --padding-and-gap: 20px;
    --main-height: calc(100vh - 50px);
    --full-width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set layout */
.grid-container {
    display: grid;
    grid-template-columns: minmax(50px, 5vw) 95vw;
    grid-template-rows: minmax(50px, 5vw) minmax(auto, calc(100vh - 5vw));
    grid-template-areas:
        'menu header'
        'menu main';
    height: 100vh;
    overflow-y: auto;
}


.header-container {
    grid-area: header;
    background-color: darkblue;

}

.menu-container {
    grid-area: menu;
    background-color: aqua;
}

.main-container {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: var(--padding-and-gap);
    padding: var(--padding-and-gap);
    /* grid-template-rows: min-content; */
}

.inbox-container {
    grid-column: 1/4;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.chatbox-container {
    grid-column: 4/8;
    min-width: 250px;
}

.info-container {
    grid-column: 8/11;
}

/* Style header*/
.header-container {
    padding-left: var(--padding-and-gap);
    display: flex;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

/* Style menu*/
.menu-burgger {
    position: relative;
    width: 20px;
    height: 14px;
    display: none;
}

.menu-line {
    background-color: cyan;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 {
    top: 0;
}

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-line-3 {
    bottom: 0;
    width: 80%;
}

.grid-container.open-menu #menu .menu-line {}

.grid-container.open-menu #menu .menu-line-2 {
    opacity: 0;
}

.grid-container.open-menu #menu .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-45deg);
}

.grid-container.open-menu #menu .menu-line-3 {
    width: 100%;
    transform: translateY(-7px) translateY(50%) rotate(45deg);

}

/* Style chatbox*/
.chatbox-header {
    display: flex;
    background-color: #fff;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chatbox-header__main {}

.chatbox-header__right {
    position: absolute;
    right: 5%;
    display: none;
}


.info-container {
    position: relative;
    overflow-y: auto;
}

.info-header__right {
    position: absolute;
    top: 1.2%;
    right: 5%;
    display: none;
}

@media (max-width:768px) {
    .grid-container {
        grid-template-columns: 100vw;
        grid-template-areas:
            'header'
            'main';
    }

    .menu-container {
        display: none;
    }

    .menu-burgger {
        display: block;
    }

    .open-menu {
        grid-template-columns: minmax(75px, 5vw) 95vw;
        grid-template-rows: minmax(50px, 5vw) minmax(auto, calc(100vh - 5vw));
        grid-template-areas:
            'menu header'
            'menu main';
        overflow: hidden;
    }

    .grid-container.open-menu .menu-container {
        display: block;
    }

    .main-container {
        grid-gap: 0px;
        padding: 0px;
        position: relative;
    }

    .inbox-container {
        grid-gap: 0px;
    }

    .inbox-container {
        grid-column: 1/3;
        grid-row: 1;
        height: var(--main-height);
    }

    .chatbox-container {
        grid-column: 3/11;
        height: 300px;
        grid-row: 1;
        height: var(--main-height);
    }

    .info-container {
        display: none;
    }

    /* Resposive Inbox*/
    .inbox-container .border-box {
        margin: 0;
        border: unset;
        border-radius: 0;
    }

    .inbox section {
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
    }

    .inbox section:last-child,
    .inbox .inbox__email {
        display: none;
    }

    .inbox section .avatar--medium.avatar--responsive {
        width: 2vw;
        height: 2vw;
        min-width: 40px;
        min-height: 40px;
        font-size: 18px;
        align-self: center;
        justify-self: center;
    }

    .inbox p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 60px;
        text-align:center;
    }


    .chatbox-header__right,
    .info-header__right {
        display: block;
    }

    .open-info {
        display: block;
        grid-column: unset;
        height: var(--main-height);
        width: 80vw;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .simplebar-content {
        padding: 0px !important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {}