/*Aside Navigation*/

.aside-nav {
    width: 100%;
    height: 100%;
    background: #2b303b;
    float: left;
    z-index: 10;
}

.aside__logo {
    max-height: 5vw;
    height: 5vw;
    min-height: 75px;
    background: #21252D;
    
}

.aside__logo img {
    width: 40px;
    height: 45px;
}

.nav__container,
.header__nav {
    padding: 20px 0;
    list-style: none;
}

.nav__icon-item {
    margin: 20px auto;
    width:2vw;
    height: 2vw;
    min-width: 40px;
    min-height: 40px;
    background: #21252D;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav__icon-item:hover, .active {
    background: var(--color-cyan);
    transition: all 0.3s ease-in-out;
  
}
.nav__icon-item:hover span, .active span
{
    color: white !important;
}
.nav__icon-item div {
    padding: 5px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav__icon-item span {
    padding: 1vw;
    font-size:20px;
}

.nav__icon-item:hover span {
    color:var(--color-white);
}



.aside__avatar {
   position: absolute;
   bottom: 0;
   margin-bottom: 20px;
}

/*Header*/


