@import url("/assets/style/common.css");
@import url("./nav.css");
@import url('./font-icomoon.css');
@import url('./style-conversation.css');



.inner-block
{
    justify-content: center;
}
.grid-row
{
    gap: 0;
}
.info-user {
    padding: 0px 16px;
}
.info-user .text-box {
    margin-bottom: 10px;
}
.info-user .text-box:nth-of-type(1) {
    margin-top: 20px;
}
.info-user .text-box:nth-last-of-type(1) {
    margin-bottom: 20px;
}
.block--small section.info-user:nth-of-type(1) {
    margin-bottom: 17px;
}
.text-box::placeholder{
    color:#CACACA;
}
.form__label {
    margin-top:20px;
}