@import url("/assets/style/common.css");
@import url("./nav.css");
@import url('./font-icomoon.css');
@import url('./style-conversation.css');



.tab-block .border-box
{
    padding: 10px;
} 
.tab
{
    text-decoration: none;
    width: 100%;
    display: block;
    background: white;
    max-height: 42px;
}
.tab span
{
    display: block;
    float: left;
    margin-right: 20px;
}
.tab p
{
    display: inline-block;
    float: left;
}

.general
{
    padding: 0;
    background: white;
}
.general>section
{
    padding: 30px;
}
.general__section-title p
{
    text-transform:uppercase;
    font-size: 11px;
    margin-left: 12px;
}


.app-info__form-group
{
    display: flex;
    justify-content: space-between;
}
.app-info__form
{
   width: 49%;
   
}
.app-info__form p
{
    margin-bottom: 10px;
}

.grey-p
{
    color: #CACACA;
}

.general .btn
{
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 11px;
}
.connect-status
{
    margin-top:15px;
}