@import url("./common.css");
@import url("./nav.css");
@import url('./font-icomoon.css');
@import url('./style-conversation.css');



.tab__label p
{
    margin-left: 20px;
}

.tab-block .tab__label
{
    margin-bottom: 10px;
}

.tab-detail
{
    padding: 0;
    background: white;
}

.tab-detail>section
{
    padding: 20px 30px;
}



.app-info__form-group
{
    display: flex;
    justify-content: space-between;
}
.app-info__form
{
   width: 49%;
}
form
{
    margin-top: 10px;
}
.app-info__form p
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.grey-p
{
    color: #CACACA;
}

.tab-detail .btn
{
    
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 25px;
}
.connect-status
{
    margin-top:15px;
    display: inline-flex;
    align-items: center;
}
.border-left-box p
{
   text-transform: uppercase;
}
.upgrade__row
{
    display: flex;
}
.upgrade__col
{
    flex: 3;
}
.upgrade__item
{
   
    border-radius: 5px;
    box-sizing: content-box;
    padding: 11px 0;
    text-transform: uppercase;
    text-align: center;
    border: solid 1px;
    border-color: aqua;
}

