@import url("/assets/style/common.css");
@import url("./nav.css");
@import url('./font-icomoon.css');
@import url('./style-conversation.css');

.tab
{
    text-decoration: none;
    width: 100%;
    display: block;
    background: white;
}
.tab img
{
    display: block;
    float: left;
    margin-right: 20px;
}
.tab p
{
    
}