@import url('./common.css');
@import url('./font-icomoon.css');
@import url('./nav.css');
/* @import url('./style-conversation.css'); */

.aside-nav .closebtn {
    display: none;
}
.header-wrap {
    max-height: 5vw;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

.header-left {
    display: flex;
}

.header-menu {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: none;
}

.inner-block {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.inner-block>section {
    margin-bottom: 15px;
}
.inner-block>* { 
    overflow: unset;
}

.switch__title {
    display: inline-block;
    margin-bottom: 19px;
    font-size: 12px;
    color: #808080;
}

.flex--row {
    display: flex;
    flex-wrap: wrap;
}

.switch__item {
    background-color: var(--color-white);
    border-radius: 5px;
    width: 15%;
    height: 8vh;
    padding: 18px 60px 23px 27px;
    max-width: 368px;
    max-height: 102px;
    width: 17vw;
    min-width: 250px;
    min-height: 100px;
    position: relative;
    margin-right: 19px;
    margin-bottom: 10px;
}

.switch__item-title {
    margin-top: 0;
    margin-bottom: 5px;    
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}

.switch__item-noti {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 11px;
    position: absolute;
    top: 14px;
    right: 22px;
}

.switch__item:hover,
.switch__item:hover .switch__item-title, .switch__item:hover .switch__item-url {
    background-color: var(--color-cyan);
    color: var(--color-white);
}

.switch__item:hover .switch__item-noti {
    background-color: var(--color-white);
    color: var(--color-cyan);
}

.switch__item--create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 5px;
    width: 17vw;
    height: 8vh;
    max-width: 368px;
    max-height: 102px;
    min-width: 250px;
    min-height: 100px;
    position: relative;
    margin-right: 19px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 40px;
}

.switch__item--create span {
    font-size: 14px;
    font-weight: bold;
    color: #808080;
}

@media(min-width:411px){

}
@media(max-width:411px) {
    .header-menu {
        display: block;
    }

    .aside-nav {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        display: none;
    }

    .aside-nav .closebtn {
        position: absolute;
        top: 0;
        right: -30px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
        color:#2B303B;
        display: block;
    }
    
    /* .flex--row {
        flex-direction: column;
    } */

    
}