@import url('./common.css');
@import url('./font-icomoon.css');
@import url('./aside-nav.css');

.aside-nav .closebtn {
    display: none;
}
.header-wrap {
    max-height: 5vw;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

.header-left {
    display: flex;
}

.header-menu {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.header-left {
    flex: 1;
    padding-left: 20px;
    align-items: center;
}

.switch__title {
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 19px;
    font-size: 12px;
    color: #808080;
}

.switch__item {
    background-color: #fff;
    border-radius: 5px;
    width: 15%;
    height: 8vh;
    padding: 18px 60px 23px 27px;
    max-width: 368px;
    max-height: 102px;
    min-width: 75px;
    position: relative;
    margin-right: 19px;
}

.switch__item-title {
    margin-top: 0;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}

.switch__item-noti {
    background-color: #F9704F;
    color: #fff;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 11px;
    position: absolute;
    top: 14px;
    right: 22px;
}

.switch__item:hover,
.switch__item:hover .switch__item-title {
    background-color: #01CEBB;
    color: #fff;
}

.switch__item:hover .switch__item-noti {
    background-color: #fff;
    color: #01CEBB;
}

.switch__item--create {
    background-color: #E4E4E4;
    border-radius: 5px;
    width: 15%;
    height: 8vh;
    padding: 18px 60px 23px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 368px;
    max-height: 102px;
    min-width: 75px;
    position: relative;
    margin-right: 19px;
    cursor: pointer;
    user-select: none;
}

.switch__item--create span {
    font-size: 14px;
    font-weight: bold;
    color: #808080;
}
@media(min-width:411px){

}
@media(max-width:411px) {
    .header-menu {
        display: block;
    }

    .aside-nav {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        display: none;
    }

    .aside-nav .closebtn {
        position: absolute;
        top: 0;
        right: -30px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
        color:#2B303B;
        display: block;
    }
    
    .flex--row {
        flex-wrap: wrap;
    }

    .switch__item {
        margin-bottom: 10px;
    }
}