* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #666666;
    font-size: 11px;
    box-sizing: border-box;
}

body {
    background: #F1F1F2;
}

/*
::-webkit-scrollbar {
    width: 5px;
}

/* Track 
::-webkit-scrollbar-track {
    background:#F1F1F2;
  
}
 
/* Handle 
::-webkit-scrollbar-thumb {
    background: #2B303B; 
    border-radius: 5px;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #; 
}
/*Classes*/
.bold {
    font-weight: bold;
}

.center-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    box-shadow: unset;
    border: unset;
    font-size: 12px;
    cursor: pointer;
}

.btn--small {
    width: 68px;
    height: 30px;
}

.btn--large {
    width: 100%;
    height: 35px;
}


.btn--white {
    background: #F1F1F2;
    color: #B1B1B1;
}

.bgr-pink,
.btn--pink {
    background: #ED86BE;
}

.bgr-yellow,
.btn--yellow {
    background: #FFCD55;
}

.bgr-blue,
.btn--blue {
    background: #4FBFE7;
}

.bgr-red,
.btn--red {
    background-color: #F26C6C;
}

.bgr-orange,
.btn--orange {
    background: #F9704F;
}

.bgr-cyan,
.btn--cyan {
    background: #01CEBB;
}

.bgr-green,
.btn--green {
    background: #9FD16A;
}

/*Header*/
/* header {
    width: 100vw;
    max-height: 75px; 
} */
.header-wrap {

    max-height: 5vw;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}

.header__nav,
.header__nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

}

.header__nav li {
    margin: 0 20px;

    height: 30px;

}

.header__nav li a {
    padding: 5px 10px;
}

.header__nav li:hover,
.inbox:hover {
    background: #F7F7F7;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.noti__label {
    text-decoration: none;


}

.noti {
    min-width: 12px;
    min-height: 10px;
    color: white;
    font-size: 8px;
    border-radius: 20px;
    padding: 2px 4px;
    margin-left: 8px;
}

.invisible {
    visibility: hidden;
}

.header-left {
    flex: 1;
    padding-left: 20px;
}

.header-right {
    flex: 1;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: grid;
    grid-template-columns: 80% 20%;
    align-content: center;
}

.text-box {
    width: 100%;
    padding: 8px 0 8px 14px;
    color: #979797;
    border: unset;
    border-radius: 5px;
    background: #F7F7F7;
}

.border-box {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background: white;
}


.inner-addon {
    position: relative;
}

.inner-addon img {
    position: absolute;
    margin: 6px 15px;
    pointer-events: none;

}

.left-addon img {
    left: 0;
}

.right-addon img {
    right: 0;
}


/*Block*/
main {
    /* height: 95vh; */

    overflow: hidden;
}

.inner-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 0 1vw;
}

.inner-block>* {
    /* max-height: inherit; */
    margin: 1vw;
   height: 85vh;
    overflow-y: auto;
}

.block--medium {
    width: 30%;


}

.block--large {
    width: 45%;


}

.block--small {
    width: 25%;


}

/*Inbox*/
.inbox {
    min-height: 60px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;

}



.inbox section {
    display: grid;
    grid-template-columns: 10% 90%;
    /* grid-template-areas: avatar content; */
    grid-gap: 10px;
    margin: 10px 0;
}

.inbox .avatar {
    justify-self: right;
}

.inbox__time {
    color: #B1B1B1;
    font-size: 9px;
    margin: 2px;
}

/*Chatbox*/
.chatbox__content {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end; */
    width: inherit;
    padding: 10px;
    background: #F7F7F7;
    height: 400px;
    /* min-height: 400px; */
    overflow: auto;
}

.chatbox header p {
    margin: 20px auto 10px auto;
    text-align: center;

}

.chat-line__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-line {
    width: 80%;
    display: grid;
    margin: 5px 0;
}

.chat-line__content-wrap {

    margin: 0 5px;
}


.chat-line--receive {
    grid-template-columns: 10% 90%;
    align-self: flex-start;
}

.chat-line--receive .avatar {
    justify-self: right;
}

.chat-line--send .inbox__time {
    text-align: right;
}

.chat-line--send {
    grid-template-columns: 90% 10%;
    align-self: flex-end;
}

.chat-line--send .avatar {
    justify-self: left;
}

.chat-line__content-wrap {
    padding: 12px 18px;
}

.chat-line--send {
    display: grid;
    grid-template-columns: 90% 10%;

}

.chatbox__input {}

.chat__tab {
    border-bottom: #F0F0F0 1px solid;
}

.chat__tab ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 15px;
}

.chat__tab ul li {
    width: 60px;
    padding: 8px;
    text-align: center;
}

.active-tab {

    border-bottom: #01CEBB 2px solid;
}

.chat__tab ul li a {

    font-size: 12px;
    color: #B1B1B1;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.active-tab a {
    color: #01CEBB !important;
    font-weight: bold;
}

.chat__text-box {
    resize: none;
    width: 100%;
    height: 70px;
    padding: 10px;
    border: none;
}

.chat__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.chat__option ul
{
    list-style: none;
}

/*Info*/
.line{
    height: 1px;
    background: #F0F0F0;
    width: 100%;
}
.info>section
{
    padding: 20px;
}
.info p, .info__detail p span
{
    font-size: 12px;
    line-height: 25px;
}
.info__add>p
{
    margin-top: 10px;
}
.info__option .btn
{
    margin: 15px 0;
}
.info__tag, .avatar-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.avatar-row>.avatar
{
    margin: 5px 10px 5px 0;
}
.info__detail p
{
    color:#B1B1B1;

}
.info__detail p span
{
   float: right;
   color: black;
}
.tag
{
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    padding: 10px 12px;
    background: white;
    margin-right: 10px;
    box-sizing: content-box;
    text-decoration: none;
}

.tag span
{
 margin: 0 4px;
}

.tag:hover
{
    background: #F0F0F0;
}